*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: lightgray;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.contenedor {
	border: 20px solid white;
	display: flex;
	height: 100vh;
	font-size: 20px;
	align-items: center;
}

div[class*="item-"] {
	background: orange;
	padding: 10px;
	text-align: center;
	border: 2px solid gray;
}

div[class*="item-"]:nth-child(odd) {
	background-color: black;
	color: white;
}

div[class*="item-"]:nth-child(1) {
/*	flex-basis: 200px;
	flex-grow: 1;*/
	flex: 1 1 200px;
}

div[class*="item-"]:nth-child(2) {
	/*flex-basis: 200px;
	flex-grow: 10;
	flex-shrink: 10;*/
	flex: 10 10 200px;
}

div[class*="item-"]:nth-child(3) {
	/*flex-basis: 200px;
	flex-grow: 1;*/
	flex: 1 1 200px;
}
