*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: lightgray;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.contenedor {
	border: 20px solid white;
	display: flex;
	height: 100vh;
	font-size: 20px;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

div[class*="item-"] {
	background: orange;
	padding: 10px;
	text-align: center;
	border: 2px solid gray;
	flex-basis: 500px;
	/*flex-grow: 1;*/
}

div[class*="item-"]:nth-child(odd) {
	background-color: black;
	color: white;
}

div[class*="item-"]:nth-child(5) {
	background-color: aqua;
	flex-grow: 4;
}
