html, body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightgray;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Contenedor */
main {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

main > * {
    order: 999;
}

/* Navegación */
ul.principal {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    background: gray;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.menu a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    margin: 0;
    padding: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#movil {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

#movil a {
    color: white;
    text-decoration: none;
}

/* Banner central */
#banner {
    height: 400px;
    border-radius: 10px;
    background-image: url(../img/black-cat.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Zona contenido (texto) */
#contenido {
    padding: 20px;
    background: gray;
    color: white;
    margin: 20px 0;
    border-radius: 10px;
}

#contenido p {
    margin: 0;
}

/* Widget newsletter */
#subscribe {
    padding: 20px;
    background: gray;
    color: white; 
    border-radius: 10px;
    margin-bottom: 20px;
}

#subscribe form {
    display: flex;
    justify-content: center;
}

#subscribe form > * {
    flex: 1;
    margin: 0 10px;
}

/* Footer */
footer {
    padding: 20px;
    background: gray;
    color: white;
    border-radius: 10px;
    margin-top: auto;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

/* Puntos de ruptura */
@media (max-width: 768px) {
    main {
        margin: 10px;
    }
    ul.principal {
        flex-wrap: wrap;
        display: none;
        order: 2;
    }
    .menu {
        flex-basis: 33%;
    }
    li:nth-child(4) {
        flex-basis: 50%;
    }
    li:nth-child(5) {
        flex-basis: 50%;
    }
    .social {
        margin-top: 20px;
    }
    #subscribe {
        order: 3;
        margin-top: 20px;
    }
    #subscribe form {
        flex-wrap: wrap;
    }
    #subscribe form > * {
        flex-basis: 100%;
        margin: 10px 0;
    }
    #movil {
        display: flex;
        order: 1;
    }
}

@media (max-width: 340px) {
    li.menu {
        flex-basis: 100%;
    }
}