html, body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightgray;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

ul.principal {
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    padding: 10px;
    background: gray;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.menu a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    margin: 0;
    padding: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

@media (max-width: 768px) {
    ul.principal {
        flex-wrap: wrap;
        margin: 20px;
    }
    .menu {
        flex-basis: 33%;
    }
    .social {
        margin-top: 20px;
    }
}

@media (max-width: 340px) {
    .menu {
        flex-basis: 100%;
    }
}