*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: gray;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 600px;
	background-color: lightgray;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

header {
	background-color: white;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	flex: 1 1 100%;
}

article {
	background-color: aqua;
	padding: 20px;
	width: 70%;
	flex: 1 1 70%;
}

@media (max-width: 400px) {
	article {
		flex-basis: 100%;
	}
}

aside {
	background-color: darkblue;
	padding: 20px;
	width: 30%;
	flex: 1 1 30%;
}

aside ul {
	color: white;
	margin: 10px;
	padding: 0;
	cursor: pointer;
}